In [1]:
import numpy as np

In [2]:
arr = np.array([1,2,3,4,5])

In [3]:
arr.mean()

3.0

In [4]:
arr.max()

5

In [5]:
arr.min()

1

In [6]:
arr.shape

(5,)

In [9]:
import numpy as np

###  excercise

In [10]:
7 ** 4

2401

In [11]:
s = 'Hi there Sam!'

In [12]:
s.split()

['Hi', 'there', 'Sam!']

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [28]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [29]:
### tuple is not commutable while list is mutable

In [34]:
def domainGet(st):
    return st.split('@')[1]

In [35]:
domainGet('user@domain.com')

'domain.com'

In [36]:
def findDog(st):
    return 'dog' in st.lower().split()

In [37]:
findDog('is there a dog here?')

True

In [41]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word =='dog':
            count += 1
    return count

In [42]:
countDog('this is a dog')

1

In [43]:
countDog('dog and dog')

2

In [44]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [45]:
num = [1,2,3,4,5]

In [ ]:
i = 1
while i < 5:
    print('num is {}'.format(i))
    i = i+1

In [ ]:
i = 1
while i < 5:
    print('num is {}'.format(i))
    i = i+1

In [ ]:
i = 0
while i < 5:
    print('num is {}'.format(i))
    i = i + 1

In [ ]:
i = 1
while i < 5:
    print('i is :{}'.format(i))
    i = i+1